name: Wakatime Leaderboards

on:
    schedule:
        # Runs every Monday at 12AM IST (UTC+5:30)
        - cron: "30 18 * * 0"
    workflow_dispatch:
    push:
        branches: [master]
        paths:
            - ".github/workflows/wakatime.yml"
            - "api/*.py"

permissions:
    contents: read

jobs:
    update-readme:
        name: Wakatime Leaderboards
        if: |
            github.actor != 'dependabot[bot]' &&
            github.actor != 'github-actions[bot]' &&
            github.actor != 'protected-auto-commits[bot]'
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner
              uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
              with:
                  egress-policy: audit

            - name: GitHub App Token
              uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
              id: app-token
              with:
                  app-id: ${{ secrets.GH_APP_ID }}
                  private-key: ${{ secrets.GH_PRIVATE_KEY }}

            - name: Run Wakatime Leaderboards
              uses: docker://nicconike/wakatime-leaderboards:master
              env:
                  GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
                  GITHUB_REPOSITORY: ${{ github.repository }}
                  INPUT_WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
